body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #fcefee, #e8f7f5);
  color: #4a4a4a;
}

nav {
  background-color: #f8d7e3;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border-bottom: 2px solid #f3c6d3;
}

nav a {
  text-decoration: none;
  color: #6c5b7b;
  font-weight: bold;
}

nav a:hover {
  color: #355c7d;
}

form {
  background-color: #fffaf5;
  padding: 2rem;
  margin: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

label {
  display: block;
  margin-top: 1rem;
  color: #7b8ea1;
}

input, textarea, select {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #fdfdfd;
}

button {
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  background-color: #c5e1dc;
  border: none;
  border-radius: 8px;
  color: #355c7d;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #b2d8d2;
}

h1, h3 {
  color: #6c5b7b;
}

img {
  max-width: 100%;
  height:500px;
  width:500px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

div {
  padding: 1rem;
}



/* body {
  margin: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 30vh;
}

h1 {
  text-align: center;
} */
